.modal {
  @apply bg-transparent w-96 max-w-full;

  &::backdrop {
    @apply bg-gradient-to-br from-indigo-50 to-pink-50;
  }

  &[open] {
    &,
    &::backdrop {
      animation: scaleFromZero 0.3s ease-in forwards;
    }
  }
}

@keyframes scaleFromZero {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
